{% if user.roles.1 == 'pokupatel' %}
	<h2>Обращения по качеству</h2>
	<p>Tarkett уделяет огромное внимание качеству производимой продукции, но даже при современном высокотехнологичном
		производстве, ориентированном на качество и экологичность, возможны случаи, когда конечный потребитель по каким-либо
		причинам будет недоволен результатом покупки. И причин может быть множество – от производственных недостатков
		(которые не исключены при любом производстве) до нарушения правил транспортировки, хранения, укладки и
		эксплуатации.</p>
	<p>Для того, чтобы в максимально короткие сроки определить причины возникновения и пути решения возникшей у покупателя
		проблемы, на сайте Tarkett создана система электронного взаимодействия между всеми участниками процесса производства
		и реализации нашей продукции.</p>
	<p>Благодаря данной системе покупатель может с данного сайта обратиться в магазин, в котором приобрел товар, по вопросам
		качества, отслеживать в личном кабинете (или по номеру обращения) текущий статус рассмотрения своего обращения и,
		наконец, получить в электронной форме ответ продавца (розничного магазина).</p>
	<h2>Описание работы сервиса </h2>
	<p>Для того, чтобы оформить обращение по качеству товара, Вам необходимо заполнить личные данные, ответить на несколько
		вопросов о товаре (вид напольного покрытия или аксессуаров, место и дата приобретения, причина обращения), а также
		загрузить подтверждающие факт приобретения документы и фотографии товара с заявленным недостатком.</p>
	<p>После внесения данных обращение регистрируется в системе и ему присваивается уникальный номер, который будет
		направлен Вам по электронной почте (указанной при регистрации обращения) вместе с логином и паролем для входа в
		личный кабинет.</p>
	<p>Изменение статуса обращения Вы сможете отследить в личном кабинете по уникальному номеру обращения.</p>
	<p>После оформления на сайте Ваше обращение в течение одного рабочего дня будет перенаправлено системой в указанный Вами
		розничный магазин (розничному продавцу), в котором (у которого) был приобретен товар. Обращения, оформленные в
		пятницу, предпраздничные, выходные и праздничные дни, розничный магазин получает и начинает обработку и рассмотрение
		в первый следующий рабочий день.</p>
	<p>Уполномоченное лицо магазина, получив обращение, проверяет и подтверждает в системе факт заключения договора
		купли-продажи и проводит первичную проверку обращения. В случае необходимости, магазином запрашивается мнение
		специалистов Tarkett. При этом все поступившие в систему обращения находятся на контроле отдела качества
		Tarkett.</p>
	<p>Процесс рассмотрения каждого обращения занимает от двух до десяти рабочих дней. При необходимости проведения проверки
		или экспертизы качества товара срок рассмотрения может быть увеличен на время запроса и доставки образцов и
		проведения испытаний. В отдельных случаях необходима организация выезда представителей Tarkett для осмотра товара в
		месте его хранения (укладки), что объективно может увеличить срок рассмотрения Вашего обращения.</p>
	<p>В любом случае, используя данный сервис, Вы всегда знаете, какие действия предприняты магазином по Вашему обращению,
		а также на какой стадии рассмотрения оно находится.</p>
	{% endif %}
	{% if user.roles.1 == 'magazin' %}
	<p>Tarkett уделяет огромное внимание качеству производимой продукции, но даже при современном высокотехнологичном
		производстве, ориентированном на качество и экологичность, возможны случаи, когда конечный потребитель по каким-либо
		причинам будет недоволен результатом покупки.</p>
	<p>Для того, чтобы помочь конечному покупателю и всем участникам процесса производства и реализации нашей продукции в
		максимально короткие сроки определить причины возникновения и пути решения возникшей проблемы, на сайте Tarkett
		создана система электронного взаимодействия.</p>
	<p>Благодаря данной системе покупатель может с сайта подать обращение в магазин, в котором приобрел товар, с вопросами о
		качестве продукции, а розничный магазин также по электронной системе имеет возможность обратиться к своему
		Поставщику и/или направить ответ потребителю.</p>
	<p>Такой же сервис предоставляется розничному магазину, который может самостоятельно обратиться через сайт к своему
		Поставщику с вопросом по качеству товара производства компаний группы Таркетт, находящегося в его магазине (на
		складе), и/или зарегистрировать на сайте претензию потребителя, поданную непосредственно в магазин, получив при ее
		рассмотрении поддержку специалистов Таркетт.</p>
	<p><strong>Однако для эффективной работы системы необходимо соблюдение всеми ее пользователями сроков рассмотрения и/или
			перенаправления поступивших к ним через систему обращений, в связи с чем просим Вас соблюдать зависящие от Вас сроки
			создания и отправки документов, указанные в соответствующих разделах описания работы сервиса.</strong></p>
	<h2>Описание работы сервиса</h2>
	<ol>
		<li><span class="c-subheader">Оформление первичного обращения</span>
			<p>Если у Вас возникли вопросы по качеству товара, находящегося в магазине, или к Вам в магазин поступила
				претензия потребителя, связанная с товаром Tarkett, Вы можете оформить обращение на нашем сайте. В этом
				случае в рассмотрении проблемы вместе с Вами и Вашим Поставщиком смогут участвовать специалисты Tarkett.</p>
			<ol>
				<li>Для того, чтобы оформить обращение по качеству товара, находящегося в магазине (на складе), Вам
					необходимо заполнить данные о магазине, товаре и Вашем Поставщике (вид напольного покрытия или
					аксессуаров, наименование, ИНН Вашего контрагента по договору поставки, документы, подтверждающие
					покупку, место нахождения товара, причина обращения), а также загрузить необходимые документы и
					фотографии товара с заявленным недостатком.
				</li>
				<li>Если Вы регистрируете на сайте претензию, поступившую от конечного потребителя – физического
					лица, помимо действий, указанных в п. 1, Вам необходимо подтвердить факт и дату покупки товара по
					данной претензии в Вашем магазине, заполнить личные данные потребителя, получив у него заявление о
					регистрации претензии с письменным согласием на обработку персональных данных, а также загрузить
					скан-копию указанного заявления и подписанной потребителем претензии в систему.
				</li>
				<li>После заполнения формы обращение регистрируется в системе и ему присваивается уникальный
					номер, который будет направлен Вам по электронной почте (указанной при регистрации обращения) вместе
					с логином и паролем для входа в личный кабинет.
					<p>Изменение статуса обращения Вы сможете отследить в личном кабинете по уникальному номеру
						обращения.</p>
					<p>Номер обращения, зарегистрированного в связи с поступившей претензией потребителя, также направляется
						на его электронную почту, указанную в письменном заявлении о регистрации.</p>
				</li>
				<li>После оформления на сайте обращение в течение одного рабочего дня будет перенаправлено системой
					указанному Вами Поставщику.
					<p>Обращения, оформленные в пятницу, предпраздничные, выходные и праздничные дни, Поставщик получает и
						начинает их обработку и рассмотрение в первый следующий рабочий день.</p>
				</li>
				<li>Уполномоченное лицо Поставщика, получив обращение, проверяет и подтверждает в системе факт
					поставки указанного в обращении товара и проводит первичную проверку обращения. В случае необходимости,
					Поставщиком запрашивается мнение специалистов Tarkett. При этом все поступившие в систему обращения
					находятся на контроле отдела качества Tarkett.
				</li>
			</ol>
		</li>
		<li>
			<span class="c-subheader">Работа с обращением потребителя, поступившим по электронной системе</span>
			<p>Если указанный в обращении товар не был приобретен в Вашем магазине, Вы не подтверждаете факт приобретения и
				отклоняете обращение в течение одного рабочего дня.</p>
			<p>Также Вы можете отклонить обращение без дальнейшей передачи по системе, если Вами при первичном рассмотрении
				выявлен факт нарушений правил транспортировки, хранения, укладки, эксплуатации, установленных законом
				предъявления претензий и т.п. со стороны потребителя. В этом случае Вы заполняете форму отказа на сайте и в
				течение 9 дней с момента получения уведомления о поступлении обращения пересылаете ее потребителю. Очень
				важно четкое и однозначное указание причины отклонения обращения.</p>
			<p>Если после подтверждения факта покупки товара в Вашем магазине и проведения первичной проверки обращения
				самостоятельно принять решение по нему Вы не можете, так как Вам требуются дополнительные сведения о товаре
				или иная информация от Вашего Поставщика, Вам необходимо в течение одного рабочего дня с момента получения
				уведомления о поступлении обращения внести дополнительную информацию в систему (подтвердить факт покупки
				товара потребителем в Вашем магазине, представить документы, подтверждающие факт поставки и т.п.), после
				чего обращение будет перенаправлено Вашему Поставщику для проверки в порядке, указанном в п.п. 1.4).</p>
			<p>Процесс рассмотрения каждого обращения с момента регистрации в системе до направления ответа занимает от двух
				до десяти рабочих дней. При необходимости проведения проверки или экспертизы качества товара срок
				рассмотрения может быть увеличен на время запроса и доставки образцов и проведения испытаний. В отдельных
				случаях необходима организация выезда представителей Tarkett для осмотра товара в месте его хранения
				(укладки), что объективно может увеличить срок рассмотрения конкретного обращения.</p>
			<p>В любом случае, используя данный сервис, Вы всегда знаете, какие действия предприняты Поставщиком по Вашему
				обращению, а также получаете поддержку Вашего Поставщика при рассмотрении поступивших в Вам претензий и
				обращений конечных потребителей товара. </p>
		</li>
	</ol>
{% endif %}
{% if user.roles.1 == 'distributor' %}
	<p>Tarkett уделяет огромное внимание качеству производимой продукции, но даже при современном высокотехнологичном
		производстве, ориентированном на качество и экологичность, возможны случаи, когда конечный потребитель по каким-либо
		причинам будет недоволен результатом покупки.
		Для того, чтобы в максимально короткие сроки помочь конечному покупателю нашей продукции определить причины
		возникновения и пути решения возникшей проблемы, а также создать условия для эффективного рассмотрения претензий
		Основных оптовых Покупателей АО «ТАРКЕТТ РУС» по качеству товара, на сайте Tarkett создана система электронного
		взаимодействия между всеми участниками процесса производства и реализации нашей продукции.</p>
	<p>Благодаря системе электронного взаимодействия Вы можете не только подать претензию по качеству товара и отследить ее
		текущий статус, но и участвовать в рассмотрении электронных обращений конечных потребителей товара, купленного в
		Вашем магазине или магазине Вашего Покупателя по договору поставки.</p>
	<p>В этой связи обращаем Ваше внимание, что для эффективной работы системы необходимо соблюдение всеми ее пользователями
		сроков рассмотрения и/или перенаправления поступивших к ним через систему обращений.</p>
	<h2>Описание сервиса</h2>
	<ol>
		<li>
			<span class="c-subheader">Порядок оформления претензий</span>
			<p>Для того, чтобы оформить претензию по качеству и/или количеству товара, Вам необходимо заполнить данные о
				договоре поставки, отгрузочных документах, товаре, причине подачи претензии, а также загрузить
				предусмотренные договором поставки документы и фотографии товара с заявленным недостатком.</p>
			<p>После заполнения формы претензия регистрируется в системе и ей присваивается уникальный номер, который будет
				направлен Вам по электронной почте (указанной при регистрации).</p>
			<p>Изменение статуса претензии Вы сможете отследить в личном кабинете по ее уникальному номеру.</p>
			<p>После оформления на сайте Ваша претензия в течение одного рабочего дня поступит в отдел контроля качества АО
				«ТАРКЕТТ РУС».</p>
		</li>
		<li>
			<span class="c-subheader">Как работать с обращением Вашего Покупателя (розничного магазина) по договору поставки</span>
			<p>Претензии по качеству от лиц, не являющихся покупателями АО «ТАРКЕТТ РУС» (потребителей (физических лиц) и
				Розничных магазинов), оформляются на сайте и поступают в электронную систему как «Обращения», а затем
				перенаправляются системой лицу, указанному подателем обращения как Продавец Товара.</p>
			<p>При поступлении в систему обращения по качеству от Вашего Покупателя по договору поставки Вам приходит
				оповещение на адрес Вашей электронной почты.</p>
			<p>Если Вы не являетесь Поставщиком данного товара Покупателю, либо Вами выявлен факт нарушений Покупателем
				условий заключенного с Вами договора поставки, либо Вы признаете наличие недостатка, за который отвечаете по
				договору поставки с Покупателем, Вы можете самостоятельно ответить на обращение, указав причину отказа или
				подтвердив недостаток. В случае, если обращение поступило в связи с претензией потребителя, ответ необходимо
				направить в течение 7 дней с момента поступления обращения.</p>
			<p>Если после проверки обращения самостоятельно принять решение по нему Вы не можете, Вам требуются
				дополнительные сведения о товаре или проверка качества товара, Вам необходимо в течение одного рабочего дня
				с момента получения оповещения системы о поступлении обращения оформить претензию в адрес АО «ТАРКЕТТ РУС»
				(см. п. 1.).</p>
		</li>
		<li>
			<span class="c-subheader">Как работать с поступившим по электронной системе обращением потребителя – физического лица, по
				приобретенному в Вашем магазине товару.</span>
			<p>При поступлении в систему обращения по качеству от физического лица - конечного потребителя товара,
				купленного в Вашем магазине, Вам приходит оповещение на адрес электронной почты.</p>
			<p>Если указанный в обращении товар не был приобретен в Вашем магазине, Вы не подтверждаете факт приобретения и
				отклоняете обращение в течение одного рабочего дня.</p>
			<p>Также Вы можете отклонить обращение без дальнейшей передачи по системе, если Вами при первичном рассмотрении
				выявлен факт нарушений правил транспортировки, хранения, укладки, эксплуатации, установленных законом
				предъявления претензий и т.п. со стороны потребителя. В этом случае Вы заполняете форму отказа на сайте и в
				течение 9 дней с момента получения уведомления о поступлении обращения пересылаете ее потребителю. Очень
				важно четкое и однозначное указание причины отклонения обращения.</p>
			<p>Если после подтверждения факта покупки товара в Вашем магазине и проведения первичной проверки обращения
				самостоятельно принять решение по нему Вы не можете, так как Вам требуются дополнительные сведения о товаре
				или иная информация от АО «ТАРКЕТТ РУС», Вам необходимо в течение одного рабочего дня с момента получения
				уведомления о поступлении обращения внести дополнительную информацию в систему (подтвердить факт покупки
				товара потребителем в Вашем магазине, представить документы, подтверждающие факт поставки и т.п.), после
				чего обращение будет перенаправлено АО «ТАРКЕТТ РУС» для проверки в предусмотренном договором порядке.</p>
		</li>
		<li>
			<span class="c-subheader">Срок рассмотрения претензий</span>
			<p>Процесс рассмотрения каждой претензии (обращения) занимает от двух до десяти рабочих дней. При необходимости
				проведения экспертизы качества товара срок рассмотрения может быть увеличен на время доставки образцов и
				проведения испытаний. В отдельных случаях необходима организация выезда представителя Tarkett для осмотра
				объекта, что также может увеличить срок рассмотрения претензии.</p>
			<p>Претензии, оформленные в пятницу, предпраздничные, выходные и праздничные дни, Поставщик получает и начинает
				их обработку и рассмотрение в первый следующий рабочий день.</p>
		</li>
	</ol>
{% endif %}