<div class="b-head">
	<div class="b-head__h1">Оформление новой претензии Дистрибутора,<br /> логистика</div>
	<div class="b-head__description">Для оформления вашего обращения, пожалуйста, заполните поля ниже.<br />
	Обратите внимание, что поля отмеченные звездочкой являются <br />
	обязательными.<br /><br />
	Обращаем Ваше внимание, что оформление обращения возможно только для каждой позиции вашей покупки(товарного чека) ОТДЕЛЬНО! 
	</div>
</div>
{{claims_form('distributor', 'logistic')}}
