<div class="b-head">
	<div class="b-head__h1">Новая претензия Дистрибьютора</div>
	<div class="b-head__description">Для оформления вашего обращения, пожалуйста, заполните поля ниже.<br />
		Обратите внимание, что поля отмеченные звездочкой являются обязательными.
	</div>
</div>
{{claims_form('distributor', 'defect')}}
