<div class="b-head">
	<div class="b-head__h1">Оформление новой претензии Магазина</div>
	<div class="b-head__description">Для оформления вашей претензии, пожалуйста, заполните поля ниже.<br />
	Обратите внимание, что поля отмеченные звездочкой являются обязательными.<br />
	Обращаем Ваше внимание, что оформление претензии возможно только для каждой товарной позиции ОТДЕЛЬНО!
	</div>
</div>
{{claims_form('magazin')}}
