@import "~style";
@import "~style/_sprite";

.button {
	padding: 1.2em 1.8em;
	font-size: 1.1em;
	display: inline-block;
	color: $color-white;
	border: none;

	&.light {
		background-color: $color-green-light;
	}

	&.x-light {
		background-color: $color-green-x-light;

		&:hover {
			background-color: $color-green-xx-light;
		}
	}

	&.dark {
		background-color: $color-green-dark;
	}

	&.x-dark {
		background-color: $color-green-x-dark;
	}

	&.orange {
		background-color: $color-orange;

		&:hover {
			opacity: 0.8;
		}
	}

	&.with-border {
		&:hover {
			background-color: rgba(0, 0, 0, 0);
			border: 2px solid $color-green-x-light;
			color: $color-green-x-light;
			padding: 13.4px 23.2px 10.6px;
		}
	}

	&.left {
		float: left;
	}

	&.right {
		float: right;
	}

	&.disabled {
		opacity: 0.4;
	}

	&.upc {
		text-transform: uppercase;
		font-size: 14px;
		text-decoration: none;
		line-height: 16px;
		letter-spacing: 0.06em;

		& > span {
			font-size: 14px;
		}
	}

	&.b {
		font-weight: 700;
		letter-spacing: 1;
	}

	&.small {
		padding: 1.1em 1.8em 0.9em;
		line-height: 1em;
	}

	&.dashed {
		span {
			border-bottom: 1px dashed $color-green-x-light;
		}

		&:hover {
			span {
				border-bottom: 1px dashed rgba(0, 0, 0, 0);
			}
		}
	}

	&.radius {
		border-radius: 3px;
	}

	&.login {
		position: relative;
		padding-left: 3.7em;
		white-space: nowrap;

		&::before {
			content: "";
			position: absolute;
			left: 1.8em;

			@include sprite($login-key);
		}

		&:hover {
			&::before {
				@include sprite($i-key-green);
			}
		}
	}

	&.phone {
		position: relative;
		font-size: 1.6em;
		font-weight: bold;
		padding: 0.7em 1.8em 0.3em 3em;
		line-height: 1em;

		&::before {
			content: "";
			position: absolute;
			left: 0;

			@include sprite($i-phone);
		}
	}

	&:hover {
		color: $color-white;
	}
}
