@import "~style";
@import "~style/_sprite";
@import "~jquery-fancybox/source/scss/jquery.fancybox";

html,
body,
.layout-container {
	height: 100%;

	header,
	footer {
		min-width: 1200px;
	}

	&.clear-page {
		header,
		footer {
			display: none;
		}

		main {
			width: 1180px;

			.b-content {
				margin-top: 0;

				h2 {
					margin: 0 0 $base-white-size * 0.5;
				}
			}
		}
	}
}

main {
	@include clearfix;
	width: 1200px;
	min-height: 468px;
	margin: 0 auto;
}

.login-page {
	main {
		height: calc(100% - 140px);
		position: relative;
	}
	div[role="contentinfo"] {
		z-index: 5;
	}
}

footer {
	height: 70px;
}

.c-seller {
	header,
	footer {
		background-color: $dark-blue-color;
	}
}

ol {
	counter-reset: item;
	li {
		display: block;
		&::before {
			content: counters(item, ".") ". ";
			counter-increment: item;
		}
	}
}

.role {
	&--pokupatel {
		header {
			background-color: $main-color;
		}
		footer {
			background-color: $main-color;
		}
	}
	&--magazin {
		header {
			background-color: $dark-blue-color;
		}
		footer {
			background-color: $dark-blue-color;
		}
		.form-item.js-form-type-file,
		.dotted-btn {
			label {
				color: $main-color;
				cursor: pointer;
			}
			&:hover {
				label {
					color: #fff !important;
					background: $button-color !important;
				}
			}
		}
		.l-back {
			color: $dark-blue-color;
			&::before {
				@include sprite($back-c);
			}
		}
		.switcher .fieldset-wrapper > div > div:nth-child(1) label::before {
			background: url(~img/common/select.png) -6px -1px;
		}
		.js-form-type-checkbox [type=checkbox]:checked ~ label::before {
			@include sprite($checkbox-bg-checked-c);
		}
		.active .b-defect-type-list__title::after {
			background: url(~img/sprite/png/minus_d.png) no-repeat 0 0;
		}
		.b-defect-type-list__title::after {
			background: url(~img/sprite/png/plus_d.png) no-repeat 0 0;
		}
		.b-defect-type-list li [type="radio"]:checked ~ label::before {
			background: url(~img/sprite/png/index_d.png) no-repeat 0 0;
		}
	}
}

div[role="contentinfo"] {
	color: #4c4c4c;
	background-color: #fff;
	border-color: #77b259;
	background-image: url(/core/misc/icons/73b355/check.svg);
	box-shadow: -8px 0 0 #77b259;
	background-position: 10px 17px;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-radius: 2px;
	padding: 15px 20px 15px 35px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	position: relative;
	left: 8px;
	width: calc(100% - 8px);
	&[aria-label="Сообщение об ошибке"] {
		border-color: #b10036;
		background-image: url(/core/misc/icons/e32700/error.svg);
		box-shadow: -8px 0 0 #b10036;
	}
}

#place-for-forms {
	@include grid-column(12, 0);
	.defect {
		@include grid-column(12, 0);
		border-color: $main-border-color;
		border-style: solid;
		border-width: 1px 0 0;
		padding: 40px 0 26px 16.67%;
		&:last-child {
			border-bottom-width: 1px;
		}
	}
}

body {
	h1,
	h2,
	h3 {
		color: #17323d;
		font-weight: 600;
	}
	h1 {
		font-size: 33px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 26px;
	}
	main {
		a {
			color: $main-link-color;
			text-decoration: underline;
			&:hover,
			&:focus {
				color: $main-link-color;
			}
			&.c-button {
				color: $main-color;
				text-decoration: none;
				&:hover,
				&:focus {
					color: #fff;
				}
			}
		}
		.b-top,
		.b-top-tabs {
			a {
				color: $main-color;
			}
		}
		.pager {
			display: block;
			&__items {
				display: block;
				margin: 0 40px;
				list-style-type: none;
			}
			&__item {
				display: inline-block;
				padding: 10px;
				&.is-active {
					font-weight: 600;
					a {
						text-decoration: none;
					}
				}
				&_wide {
					display: block;
					text-align: center;

					.c-button {
						display: block;
						max-width: 200px;
						margin: 0 auto;
					}
				}
			}
		}
	}
}

.middle-wrap {
	@include grid-column(10, 0);
}

.b-row {
	@include grid-row();
}

.b-col6 {
	@include grid-column(6,0);
	text-align: center;
	&--align-left {
		text-align: left;
	}
	&--align-right {
		text-align: right;
	}
	&--offset {
		@include grid-column(5,0);
	}
	&--offset-end {
		@include grid-column-end();
	}
}

.b-col12 {
	> .fieldset-wrapper {
		@include grid-column(12,0);
		@include grid-column-offset(0);
		@include grid-column-end();
	}
}

.b-col8 {
	.fieldset-wrapper {
		@include grid-column(8,0);
		@include grid-column-end();
	}
}

.b-col7 {
	@include grid-column(7,0);
	text-align: center;
	&--align-left {
		text-align: left;
	}
	&--align-right {
		text-align: right;
	}
	&--offset {
		@include grid-column(6,0);
	}
	&--offset-end {
		@include grid-column-end();
	}
}

.b-col10 {
	@include grid-column(10,0);
	text-align: center;

	&--offset-end {
		@include grid-column-end();
	}

	.fieldset-wrapper {
		padding: 0;
		margin: 0;
	}
}

.b-col-wide {
	.fieldset-wrapper {
		margin: 0;
		padding: 34px 40px;
		width: 100%;
	}
}

.flex {
	&--parent {
		.fieldset-wrapper {
			display: flex;
		}
		&--justify-content-center {
			.fieldset-wrapper {
				display: flex;
				justify-content: center;
			}
		}
	}

}

.c-secondary {
	color: #a9bdc4;
}

table.marked {
	border: none;
	tr:nth-child(2n-1) {
		background: #eff3f4;
	}
	tr {
		td {
			padding: 3px 0;
		}

		td:first-child {
			padding-left: 20px;
		}
	}
}

.c-padding-wrapper {
	@include grid-column(12, 0);
	@include grid-column-offset(0);
	@include grid-column-end();
	padding: 43px 0;
	text-align: center;
	&.short {
		@include grid-column(10, 0);
	}
}

.b-content {
	clear: both;
	margin: 40px 0;
	&.c-ok {
		margin: 0;
		overflow: hidden;
		height: 100%;
	}

	ol {
		counter-reset: item;

		li {
			display: block;

			&::before {
				content: counters(item, ".") ". ";
				counter-increment: item;
			}

			&.c-big {
				&::before {
					font-size: 1.5rem;
					font-weight: 600;
				}
			}
		}
	}

	h3,
	p {
		margin-bottom: 20px;
	}

	p {
		line-height: 1.4;
	}
}

.c-subheader {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 2rem;
}

.c-subheader-before {
	&::before {
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 2rem;
	}
}

.photo-list li {
	text-align: left;
}

.ya-map {
	width: 600px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}

button:-moz-focusring {
	outline: 0 !important;
}
