// Colors
$main-color: #284864;
$dark-blue-color: $main-color;

$main-text-color: $main-color;

$main-link-color: #009ee0;
$dark-link-color: $main-link-color;

$button-color: #ff9800;

$list-title-color: #b6bbc1;
$progress-bg-color: #e2e2e2;

$main-border-color: #c3c7ca;

$status-consideration-color: #75cce6;
$status-consideration-hover-color: #68b5cc;
$status-consideration-distributor-color: #b9e5f2;
$status-sample-requested-color: #ded1e6;
$status-sample-requested-hover-color: #c5b9cc;
$status-sample-prepared-color: #e6e3a7;
$status-sample-prepared-hover-color: #ccc994;
$status-sample-inlab-color: #e6c299;
$status-sample-inlab-hover-color: #ccc994;
$status-departure-color: #76d7d8;
$status-departure-hover-color: #68bdbe;
$status-approved-color: #7cd8bb;
$status-approved-hover-color: #6dbea4;
$status-rejected-color: #ee99b1;
$status-rejected-hover-color: #d4889e;
$status-rejected-shop-color: #f4cbd7;

// Fonts
$main-font: 'Source Sans Pro';

// Sizes
$base-white-size: 40px;
$mobile-border-margin: 15px;

$mobile-width-limit: 720px;
// $mobile-width: 320px;
$mobile-width: 100%;

// bourbon

// end bourbon
