<div class="fieldset-wrapper fieldset-wrapper_wide without-padding">
	<div id="place-for-forms"></div>
</div>
<div class="c-padding-wrapper">
	<a href="/add_defect/" id="add-defect" class="c-button without-arrow">Указать еще дефект</a>
</div>