<fieldset class="form-composite js-form-item form-item js-form-wrapper form-wrapper custom-form" data-drupal-selector="edit-docs" id="edit-docs--wrapper">
	<div class="fieldset-wrapper">
		<div class="b-docs list" data-action="/" data-type="file">
			<div class="b-docs__item clone" data-id="">
				<div class="b-docs__title"></div>
				<div class="b-docs__delete"></div>
				<div class="b-docs__edit"></div>
				<input type="file" style="display:none;" name="{{name}}">
			</div>
		</div>
	</div>
	<div class="label-fix">
		<div class="dotted-btn add-docs-btn">
			<label>Загрузить документ</label>
		</div>
	</div>
</fieldset>