<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8"/>
		<title>Письмо с сайта Claims Tarkett</title>
	</head>
	<body style="background-color:#fff;width:800px;height:auto;margin:0 auto;padding:0 100px;font-family:Arial,Helvetica,sans serif;font-size:12px;">
		<table cellspacing="0" cellpadding="0" border="0" width="800" style="background-color:#fff;width:800px;height:auto;margin:0 auto;">
			<tr>
				<td style="background-color:#284864;font-family:Arial,Helvetica,sans serif;padding:10px 0;"><img src="%%LOGO_SRC%%" alt="Claims Tarkett"/></td>
			</tr>
			<tr>
				<td style="padding:30px 20px 0;font-family:Arial,Helvetica,sans serif;font-size:12px;">
					{{content | raw}}
					<p style="color:gray;font-style:italic;font-size:80%;margin:20px 0;">
						Вы получили данное письмо, потому что зарегистрированы на сайте <a href="http://www.tarkett.ru/" style="color:#284864;text-decoration:none;">www.tarket.ru</a> и участвуете в работе сервиса обработки обращений по качеству. Не отвечайте на это письмо - оно рассылается автоматически. Не пересылайте это письмо третьим лицам. В случае, если у Вас есть дополнительные вопросы, Вы можете обратиться на горячую линию компании Tarkett.
					</p>
				</td>
			</tr>
			<tr>
				<td style="background-color:#284864;color:#fff;padding:5px;font-family:Arial,Helvetica,sans serif;font-size:80%;">&copy; Tarkett Claims 2008-{{ 'now'|date('Y') }}</td>
			</tr>
		</table>
	</body>
</html>