<div class="b-footer">
	<div class="b-footer__section">&copy; 2008-{{ 'now'|date('Y') }} Tarkett</div>
	<a class="b-footer__section msg" href="mailto:hotline@tarkett.ru"><span>Отправить сообщение</span></a>
	<a href="http://www.tarkett.ru" class="b-footer__section"><span>www.tarkett.ru</span></a>
</div>