@import "~style";
@import "~style/_sprite";

@media screen and (max-width: #{$mobile-width-limit}) {
	article {
		.b-claim-info {
			padding: 0;

			&__option {
				margin: $mobile-border-margin 0;

				& > br {
					display: none;
				}

				&-head {
					width: calc(#{$mobile-width} - #{$mobile-border-margin * 2});
					margin: $mobile-border-margin;
					font-size: 24px;
					font-weight: 600;
				}

				&-description {
					&.only-text {
						width: calc(#{$mobile-width} - #{$mobile-border-margin * 2});
						margin: 0 $mobile-border-margin;
					}

					table.marked {
						width: calc(#{$mobile-width} - #{$mobile-border-margin * 2}) !important;
						margin: $mobile-border-margin $mobile-border-margin 0 $mobile-border-margin !important;
						float: none;

						&:first-child {
							margin-top: 0 !important;
						}

						tr {
							td {
								vertical-align: top;
								padding: 5px;

								&:first-child {
									width: 40%;
									padding-left: 5px;
								}

								&:last-child {
									width: 60%;
								}
							}
						}
					}

					img.address-map {
						max-width: 650px;
						width: 100% !important;
						margin-top: $mobile-border-margin;
						float: none !important;
					}
				}

				&_bordered {
					padding-bottom: 0;
				}

				&:first-child {
					margin-top: 0;

					.b-claim-info__option-head {
						margin-top: 0;
					}
				}

				&.with-map {
					.b-claim-info__option-description {
						text-align: center;

						table.marked {
							text-align: left;
						}
					}
				}
			}
		}

		.c-padding-wrapper {
			.c-button {
				display: none;

				&.c-margin-left-30 {
					margin: 0;
				}

				&:first-child {
					display: inline-block;
				}
			}
		}
	}
}
