<div class="b-content-top">
	<div class="b-content-top__info">
		<h1>{{ title }}</h1>
		<p>
			{{ description }}
		</p>
		<a class="button orange upc b small radius js-question-btn" data-form-type="js-analytic-top-cont-question" href="#"><span>задать вопрос</span></a>
	</div>
	<div class="b-content-top__img" style="background-image: url({{ img }});"></div>
</div>
